/* customer_renewal css 덮기 */
.content.customer_1708 .sectionR.faq .con .conBoxArea > ul li > dl dd .not_anchor_wrap {color: inherit;font-size: inherit;font-weight: inherit;padding: 0;line-height: inherit;border-bottom: 0;}

/* faq 본문 */
#anchor_wrap {}
#anchor_wrap * {color:#545353;font-size:13px;font-weight:400;line-height:1.8;}
#anchor_wrap .anchor {border-bottom:1px solid #111;margin-top:-1px;position:relative;z-index:1;}
#anchor_wrap .anchor .anchor_ul {}
#anchor_wrap .anchor .anchor_ul .anchor_li {border-top:1px solid #d1d1d1;}
#anchor_wrap .anchor .anchor_ul .anchor_li .link {color:#222;font-size:14px;font-weight:600;display: block;padding: 15px 20px;background: url(../images/bullet_1.jpg) no-repeat 0px center;}
#anchor_wrap .area_ctt {padding:50px 0;margin-bottom:-1px;border-top:1px solid #e5e5e5;position:relative;}
#anchor_wrap .area_ctt .ttl {color:#222222;font-size:15px;font-weight:600;padding-bottom:20px;display:block;}
#anchor_wrap .area_ctt .ttl_2 {color:#222222;font-weight:600;padding-bottom:15px;display:block;}
#anchor_wrap .area_ctt .sub_1 {margin:0;padding: 40px 0 5px;border-bottom:none;position:static;z-index:inherit;color:#000000;display:block;}
#anchor_wrap .area_ctt .sub_pd_top10 {margin:0;padding: 10px 0 0;border-bottom:none;position:static;z-index:inherit;display:block;}
#anchor_wrap .area_ctt .sub_pd_top20 {margin:0;padding: 20px 0 0;border-bottom:none;position:static;z-index:inherit;display:block;}
#anchor_wrap .area_ctt .sub_pd_bottom10 {margin:0;padding: 0 0 10px;border-bottom:none;position:static;z-index:inherit;display:block;}
#anchor_wrap .area_ctt .sub_pd_bottom20 {margin:0;padding: 0 0 20px;border-bottom:none;position:static;z-index:inherit;display:block;}
#anchor_wrap .area_ctt .cmt {color:#c7282d}
#anchor_wrap .area_ctt .info {}
#anchor_wrap .area_ctt a {text-decoration:none;line-height:1.5;border-bottom:1px solid #545353}
#anchor_wrap .area_ctt .link_a {text-decoration:none;line-height:1.5;border-bottom:1px solid #545353}
#anchor_wrap .area_ctt .link01 {margin-top:20px;margin-left:10px;display:inline-block;text-decoration:none;line-height:1.5;border-bottom:1px solid #545353}
#anchor_wrap .area_ctt .li_type_ttl {margin:0;padding: 0 0 5px;border-bottom:none;position:static;z-index:inherit;}
#anchor_wrap .area_ctt ._type01 {padding-left:10px;}
#anchor_wrap .area_ctt ._type01 > li {position:relative;padding-left:46px;}
#anchor_wrap .area_ctt ._type01 > li > .ab {position:absolute;top:0;left:0;}
#anchor_wrap .area_ctt ._type02 {padding-left:10px;}
#anchor_wrap .area_ctt ._type02 > li {position:relative;padding-left:10px;}
#anchor_wrap .area_ctt ._type02 > li > .ab {position:absolute;top:0;left:0;}
#anchor_wrap .area_ctt ._type03 {padding-left:10px;}
#anchor_wrap .area_ctt ._type03 > li {position:relative;padding-left:15px;}
#anchor_wrap .area_ctt ._type03 > li > .ab {position:absolute;top:0;left:0;}
#anchor_wrap .area_ctt ._type04 {}
#anchor_wrap .area_ctt ._type04 > li {}
#anchor_wrap .area_ctt ._type04 > li > .ab {}
#anchor_wrap .area_ctt ._type05 {}
#anchor_wrap .area_ctt ._type05 > li {}
#anchor_wrap .area_ctt ._type05 > li > .ab {}
#anchor_wrap .area_ctt ._type09 {}
#anchor_wrap .area_ctt ._type09 > dt {position: static;color: inherit;font-weight: inherit;letter-spacing: inherit;font-size: 13px;padding: 0;border-bottom: none;z-index: inherit;}
#anchor_wrap .area_ctt ._type09 > dd {padding-left:10px;}

#anchor_wrap .area_ctt #step01,
#anchor_wrap .area_ctt #step02,
#anchor_wrap .area_ctt #step03,
#anchor_wrap .area_ctt #step04,
#anchor_wrap .area_ctt #step05,
#anchor_wrap .area_ctt #step06,
#anchor_wrap .area_ctt #step07,
#anchor_wrap .area_ctt #step08,
#anchor_wrap .area_ctt #step09 {position:absolute;top:-99px;left:0;width:100%;height:0px;display:block;}

@media all and (max-width:1000px){
#anchor_wrap .anchor .anchor_ul .anchor_li .link {padding:10px 20px}
#anchor_wrap .area_ctt #step01,
#anchor_wrap .area_ctt #step02,
#anchor_wrap .area_ctt #step03,
#anchor_wrap .area_ctt #step04,
#anchor_wrap .area_ctt #step05,
#anchor_wrap .area_ctt #step06,
#anchor_wrap .area_ctt #step07,
#anchor_wrap .area_ctt #step08,
#anchor_wrap .area_ctt #step09 {top:0px}
}