@charset "utf-8";

/* reset */
* {box-sizing:border-box;}
html {-webkit-text-size-adjust:none !important;}
html, body {width: 100%; height: 100%;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, section, article, aside, canvas, details, figure, figcaption, hgroup, menu, nav, output, summary, time, mark, audio, video, header, footer {
	margin: 0; padding: 0;}
body {font-family: 'Noto', 'Gilroy', 'sans-serif'; font-size: 14px; font-weight: 500; color: #8e8c8c;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
img {line-height: 0; vertical-align: middle; font-size: 0; border: 0;}
ol, ul, li {list-style: none;}
table {width: 100%; border-collapse: collapse; border-spacing: 0;}
th, td {font-size: 100%; font-weight:normal; word-break:break-all;}
hr {height: 0;}
i, em, address {font-style: normal;}
label {display: inline-block; vertical-align: middle; cursor: pointer;}
fieldset {border: none;}
blockquote, q {content: ''; quotes:none}
caption, legend {overflow: hidden; visibility: hidden; position: absolute; top: -1000%; left: -1000%; width: 0; height: 0; line-height: 0; font-size: 0; text-indent: -9999em; z-index: -1;}
[hidden], command, datalist, menu[type=context], rp, source {display:none;}

a {display: block; font-family: 'Noto', 'Gilroy', 'sans-serif'; font-size: 14px; font-weight: 500; text-decoration:none; color:#8e8c8c;}
a:hover, a:active, a:focus {text-decoration:none; color:#333;}

/* form */
input, select, button, textarea {padding: 0; margin: 0; vertical-align: middle; font-family: 'Noto', 'Gilroy', 'sans-serif'; font-size: 14px; font-weight: 500; color: #333; border:0; border-radius:0; box-shadow: none;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none;}
button {display: inline-block; cursor: pointer; /*outline:0;*/}

/* class style */
.hdTxt {overflow: hidden; visibility: hidden; position: absolute; top: -1000%; left: -1000%; width: 0; height: 0; line-height: 0; font-size: 0; text-indent: -9999em; z-index: -1;}
.ellipsis {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.hidden {display: none;}
.block {display: block;}
.inBlock {display: inline-block;}
.focus:focus {outline: 0;}
.clearfix:after {content:""; display: block; clear: both;}
.cl_b {clear: both;}
/** common **/
/* skip navigation */
.skipNavi {position:relative; z-index:9999;}
.skipNavi li {position: absolute; width: 100%; top: 0; left:0;}
.skipNavi li a{display:block; height: 1px; width: 1px; overflow: hidden;font-size: 1em}
.skipNavi li a:focus,
.skipNavi li a:active{width:100%; height: auto; padding:7px 0; text-align:center; font-size: 14px; color:#fff; background:#00c8c8; border:1px solid #125c5c;}


.wrap {width: 100%;background: #fff}
.wrap .head_container{width: 100%; height: 106px;}
.wrap .head_container .inBox{height: 100%;}
.wrap .head_container .inBox .logo{float: left; }
.wrap .head_container .inBox .topMenu{float: right; }

/* gnb */

.wrap .gnb_wrap{position: fixed; width: 262px; top: 0; margin-top: 10%; padding-left: 40px; box-sizing: border-box; z-index: 9999}
.wrap .gnb_wrap.is-open{height: 100vh; background: #fff; transition: background .5s;}

.wrap .gnb_wrap > ul > li{margin-bottom: 22px}
.wrap .gnb_wrap > ul > li .dep2{display: none; position: relative; padding-left: 20px; margin-bottom: 50px}
.wrap .gnb_wrap > ul > li .dep2 a{position: absolute; color: transparent; font-size: 16px; line-height: 22px;}
.wrap .gnb_wrap > ul > li a{position: relative;}
.wrap .gnb_wrap > ul > li > a{display: inline-block}
.wrap .gnb_wrap > ul > li a:after{width: 0;position: absolute; bottom: -5px;left:0; height: 3px; background:linear-gradient(to right, rgb(249, 204, 213), rgb(165, 175, 223), rgb(158, 213, 222)); content: ""; transition: width .3s}
.wrap .gnb_wrap > ul > li a:hover:after, .wrap .gnb_wrap > ul > li.active > a:after{width: 100%}

.wrap .gnb_wrap > ul > li .dep2 a.dep2_list1{top: 19px}
.wrap .gnb_wrap > ul > li .dep2 a.dep2_list2{top: 59px}
.wrap .gnb_wrap > ul > li .dep2 a.dep2_list3{top: 99px}
.wrap .gnb_wrap > ul > li .dep2 a.dep2_list4{top: 139px}
.wrap .gnb_wrap > ul > li .dep2 a.dep2_list5{top: 179px}


.over_lay{display: none; position: fixed; width: calc(100% - 262px); height: 100vh; top:0; left: 262px; z-index: 999; background: url('../images/gnb_bg.png') repeat;}

.over_lay > div{float: left; height: 100%;}
.over_lay .dep1_lay{width: 45%; opacity: 0}
.over_lay .dep2_lay{display: table; width: 40%; opacity: 0;}
.over_lay .dep2_lay .dep2_cell{display: table-cell; vertical-align: middle}



#footer{position: fixed; bottom: 0; width: 100%; padding: 8% 0; z-index: -1; background: url('../images/foot_bg.jpg') no-repeat; background-size: cover}
#footer .foot_container{max-width: 1920px; margin: 0 auto; text-align: center;}
#footer .foot_container p{width: 53%; margin: 0 auto}
#footer .foot_container p img{width: 100%}


@media (min-width: 1280px) {
	.onlyW {display:block !important;}
	.onlyM {display:none !important;}

}
