.case_view {background: none;}
.rn_case_view {padding-bottom: min(4.5vw,90px) !important;}
.ptColor {color: #93d224 !important;}

/* rn_case_visual */
.rn_case_visual {background-image: url("./images/visual.jpg");}

/* summary */
.rn_case_summary .con_wrap .text {padding-right: min(19vw,380px) !important;}
.rn_case_summary .con_wrap .text .go_btn {background: url("./images/arrow.png") no-repeat right 54%;background-size: min(1.95vw,39px);}

/* service */
.rn_case_svc .diagram {display: flex;justify-content: center;}
.rn_case_svc .diagram .item {position: relative;display: flex;justify-content: center;align-items: center;width: min(14.5vw,290px);height: min(14.5vw,290px);border-radius: 50%;font-weight: 500;font-size: min(1.35vw,27px);margin-left: -20px;}
.rn_case_svc .diagram .item.not {font-weight: 600;border: min(0.15vw,3px) solid #ceeb9b;color: rgba(51, 51, 51,0.3);}
.rn_case_svc .diagram .item span {position: absolute;top: 23.5%;left: 50%;transform: translateX(-50%);width: min(2.25vw,45px);height: min(2.25vw,45px);border-radius: 50%;background: #fff;}
.rn_case_svc .diagram .item span i {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url("./images/chk_ico.png") no-repeat center center;background-size: min(1.2vw,24px) auto;}
.rn_case_svc .diagram .item:nth-child(1) {}
.rn_case_svc .diagram .item:nth-child(2) {background: rgba(204, 204, 204, 0.5);color: rgba(51, 51, 51,0.3);}
.rn_case_svc .diagram .item:nth-child(3) {background: #111111;color: #c0ff00;z-index: 1;}
.rn_case_svc .text {margin-top: min(3.5vw,70px);}
.rn_case_svc .text .txt_box {display: flex;justify-content: center;margin-bottom: min(2.5vw,50px);}
.rn_case_svc .text .txt_box:last-child {margin-bottom: 0;}
.rn_case_svc .text .txt_box .tit {display: flex;align-items: center;justify-content: space-evenly;padding: 0 min(0.6vw,12px);width: min(7.7vw,144px);height: min(2.7vw,54px);line-height: min(2.65vw,53px);margin-right: min(1.5vw,30px);font-weight: 500;font-size: min(1.15vw,23px);color: #ffffff;background: #111111;border-radius: min(2.5vw,50px);}
.rn_case_svc .text .txt_box .tit i {display: block;width: min(0.65vw,13px);height: min(0.65vw,13px);background: #8084d9;border-radius: 50%;}
.rn_case_svc .text .txt_box .desc {flex: 0 -1 66%;font-weight: 400;font-size: min(1vw,20px);line-height: 1.7;text-align: justify;}

/* text */
.rn_case_view .con .con_tit {margin-bottom: min(1.5vw,30px);}
.rn_case_view .con .con_tit > span {display: inline-block;height: min(3.1vw,62px);line-height: min(3.1vw,62px);padding: 0 min(2vw,40px);font-size: min(1vw,20px);font-weight: 500;border-radius: min(2.5vw,50px);clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);color: #fff;background: #93d224;}
.rn_case_view .con .con_tit > span:not(:last-child) {margin-right: min(0.6vw,12px);}
.rn_case_view .con .tit {font-weight: 700;font-size: min(3.5vw,70px);line-height: 1.2;margin-bottom: min(1.5vw,30px);}
.rn_case_view .con .imgtit {display: block;width: min(24.4vw,488px);margin: 0 auto min(2vw,40px);}
.rn_case_view .con .imgtit img {}
.rn_case_view .con .desc {font-weight: 400;font-size: min(1.15vw,23px);line-height: 1.7;}

/* con01 */
.rn_case_view .con01 {}
.rn_case_view .con01 .con01_img {display: block;width: min(58.85vw, 1177px);margin: min(10.5vw, 210px) auto 0;}
.rn_case_view .con01 .con01_img img {}
.rn_case_view .con01 .con01_ctt {position: relative;height: min(145.5vw, 2910px);background: #ededed;}
.rn_case_view .con01 .con01_ctt:before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: min(102vw, 2040px);background: linear-gradient(27deg, #ededed 0%, #ededed 50%, #ffffff 50%, #ffffff 100%);}
.rn_case_view .con01 .textBox {position: absolute;text-align: center;}
.rn_case_view .con01 .textBox .tit {font-size: min(2.6vw, 52px);}
.rn_case_view .con01 .textBox .desc {}
.rn_case_view .con01 .textBox1 {top: min(23.5vw, 470px);left: 50%;margin-left: min(4vw, 80px);}
.rn_case_view .con01 .textBox1 .tit {}
.rn_case_view .con01 .textBox1 .tit span {font-size: min(2.2vw, 44px);}
.rn_case_view .con01 .textBox1 .desc {}
.rn_case_view .con01 .textBox2 {top: min(114.4vw, 2288px);left: 50%;margin-left: min(4vw, 80px);}
.rn_case_view .con01 .textBox2 .tit {}
.rn_case_view .con01 .textBox2 .desc {}
.rn_case_view .con01_slide01 {position: relative;width: min(58.85vw,1177px);height: min(39.85vw, 797px);margin: min(10.5vw, 210px) auto 0;background: url("./images/con01_slide01_bg.png") no-repeat center top / min(58.85vw,1177px) auto;}
.rn_case_view .con01_slide01 .slideArea {width: min(48.5vw, 970px);margin: 0 auto;padding: min(1.3vw, 26px) 0 0;overflow: hidden;}
.rn_case_view .con01_slide01 .slideArea .swiper-wrapper {}
.rn_case_view .con01_slide01 .slideArea .swiper-wrapper .swiper-slide {}
.rn_case_view .con01_slide01 .slideArea .swiper-wrapper .swiper-slide img {}
.rn_case_view .con01_anime01 {position: relative;width: 100%;height: 0;padding-top: min(10.25vw, 205px);margin-top: min(5vw, 100px);background-image: url("./images/con01_anime01.png");background-repeat: repeat-x;background-size: min(122.2vw,2444px) auto;background-position: min(122.2vw,2444px) center;animation: con01_anime01 18.33s linear infinite;}
.rn_case_view .con01_anime02 {position: relative;width: 100%;height: 0;padding-top: min(10.25vw, 205px);margin-top: min(2vw, 40px);background-image: url("./images/con01_anime02.png");background-repeat: repeat-x;background-size: min(133.2vw,2664px) auto;background-position: min(133.2vw,2664px) center;animation: con01_anime02 19.98s linear infinite;}
.rn_case_view .con01 .moimg {position: absolute;width: min(25.85vw, 517px);transform: translateY(50px);opacity: 0;transition: 0.6s;}
.rn_case_view .con01 .moimg.on {transform: translateY(0);opacity: 1;}
.rn_case_view .con01 .moimg img {}
.rn_case_view .con01 .moimg01 {top: min(10.5vw, 210px);right: 50%;margin-right: min(3.5vw, 70px);}
.rn_case_view .con01 .moimg02 {top: min(52.85vw, 1057px);left: 50%;margin-left: min(3.5vw, 70px);}
.rn_case_view .con01 .moimg03 {top: min(82.6vw, 1652px);right: 50%;margin-right: min(3.5vw, 70px);}

@-webkit-keyframes con01_anime01 {
	0% {background-position: min(122.2vw,2444px) center;}
	100% {background-position: 0 center;}
}
@-webkit-keyframes con01_anime02 {
	0% {background-position: 0 center;}
	100% {background-position: min(133.2vw,2664px) center;}
}

/* con02 */
.rn_case_view .con02 {padding-top: min(10.5vw,210px);padding-bottom: min(10vw,200px);}
.rn_case_view .con02 .text_box {margin-bottom: min(3.5vw,70px);}
.rn_case_view .con02 .con02_anime01 {position: relative;width: 100%;height: 0;padding-top: min(23.1vw, 462px);background-image: url("./images/con02_anime01.png");background-repeat: repeat-x;background-size: min(119.3vw,2386px) auto;background-position: min(119.3vw,2386px) center;animation: con02_anime01 12s linear infinite;}
@-webkit-keyframes con02_anime01 {
	0% {background-position: min(119.3vw,2386px) center;}
	100% {background-position: 0 center;}
}

/* con03 */
.rn_case_view .con03 {position: relative;padding-top: min(7vw, 140px);}
.rn_case_view .con03:before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: min(31vw, 620px);background: #d3eb9c;}
.rn_case_view .con03 .masonry_container {width: min(62vw,1240px);margin: 0 auto;columns: 3;column-gap: min(2.5vw,50px);}
.rn_case_view .con03 .masonry_item {position: relative;margin-bottom: min(2.5vw,50px);text-align: center;break-inside: avoid;top: 0;opacity: 1;transform: scale(1);}
.rn_case_view .con03 .masonry_item.center{top: min(7.5vw,150px);}
.rn_case_view .con03 .masonry_item > img {width: auto;max-width: 100%;}
