@charset "utf-8";
/*
<UPLEAT> UI Dev Team
{Oh Young Ju}, {An Se Jung}, {Lee Yun Hee}, Hwang Mi Ae, Kim So Young, Cho Han Sol, {Kang Young Sun}
commnet : mobile base
 */

/* @font-face {font-family:'NanumBarunGothic';src: url('/fonts/NanumBarunGothic.eot');src:url('/fonts/NanumBarunGothic.eot')format('embedded-opentype'),url('/fonts/NanumBarunGothic.woff') format('woff');}
 @font-face {font-family:'NanumBarunGothic';src: url('/fonts/NanumBarunGothicBold.eot');src:url('/fonts/NanumBarunGothicBold.eot')format('embedded-opentype'),url('/fonts/NanumBarunGothicBold.woff') format('woff');font-weight:600} */

/* =html */
html {
  height: auto !important;
  display: block;
  font-size: 10px;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  background: #f4f5f9;
} /* 62.5% */
@media only screen and (min-device-width: 320px) {
  html {
    font-size: 9px;
  } /* 62.5% */
}
@media only screen and (min-device-width: 360px) {
  html {
    font-size: 10px;
  } /* 62.5% */
}
@media only screen and (min-device-width: 375px) {
  html {
    font-size: 10.4167px;
  } /* 65.104166% */
}
@media only screen and (min-device-width: 384px) {
  html {
    font-size: 10.6667px;
  } /* 66.666666% */
}
@media only screen and (min-device-width: 412px) {
  html {
    font-size: 11.4444px;
  } /* 71.5277777% */
}
@media only screen and (min-device-width: 414px) {
  html {
    font-size: 11.5px;
  } /* 71.875% */
}
@media only screen and (min-device-width: 480px) {
  html {
    font-size: 13.3333px;
  } /* 83.333333% */
}
@media only screen and (min-device-width: 600px) {
  html {
    font-size: 16.6667px;
  } /* 104.16666% */
}
@media only screen and (min-device-width: 768px) {
  html {
    font-size: 10px;
  } /* 62.5% */
}

/* =Reset */
:root {
  /*font-size:10px*/
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
h1,
h2,
h3,
h4,
h5,
input,
select,
table,
textarea {
  font-family: 'AppleSDGothicNeo-Regular', 'DroidSansFallback', 'Apple Gothic',
    'HelveticaNeue-Regular', sans-serif; /*font-family:'DroidSansFallback','Apple Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;*/
  line-height: 1.4;
}
body {
  -webkit-text-size-adjust: none;
  word-break: break-all;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666;
  background: #fff;
}
table {
  border-collapse: collapse;
}
.iOS .tbl table {
  border-collapse: separate;
  border-spacing: 0;
}
img,
fieldset,
iframe {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
ol,
ul {
  list-style: none;
}
address,
em {
  font-style: normal;
}

button,
input,
textarea,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
}
input,
select,
textarea,
button {
  font-size: 1.4rem;
  vertical-align: middle;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  background-color: transparent;
}
strong {
  font-weight: 600;
}
.Android strong {
  font-weight: bold;
}
select {
  display: inline-block !important;
  padding: 0 2rem 0 0.2rem;
  background: url('https://image.hanatour.com/usr/static/img2/mobile/com/ico_select.png') no-repeat
    right -0.3rem;
  background-size: 2.4rem;
  outline: transparent;
  color:#000;
}
.option_wrap .right_cont select {
  font-size: 1.3rem;
  color: #000;
  padding: 0 1.7rem 0 0.2rem;
  background: url('https://image.hanatour.com/usr/static/img2/mobile/pkg/ico_ranking.png') no-repeat
    right 0.3rem;
  background-size: 1.4rem;
}
.Android .option_wrap .right_cont select {
  background-position: right 0.3rem;
}
.option_wrap .right_cont select,
.option_wrap .right_cont option {
  text-align: right;
  letter-spacing: -0.08rem;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

input:focus {
  outline: transparent;
  border: 1px solid #666 !important;
}
input:-internal-autofill-selected {
  background-color: #fff;
}
.right_cont select:focus {
  outline: transparent;
  border: none !important;
}
.deletable input:focus,
.inpt_wrap input:focus {
  outline: transparent;
  border: none !important;
}

a {
  color: #666;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
}

/* =Skip Navigation */
#skip {
  position: relative;
  z-index: 1000;
}
#skip a {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 6px 15px;
  background-color: #231f20;
  border: 1px solid #ed1c24;
  color: #fff;
}
#skip a:active,
#skip a:focus {
  top: 0;
  text-decoration: none;
  cursor: pointer;
}
#skip span {
  display: inline-block;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* =Webkit Browser Custom Scrollbar
::-webkit-scrollbar{width:8px;height:3px;border-left:0;background:rgba(0,0,0,.1)}
::-webkit-scrollbar-track{background-color:#eee}
::-webkit-scrollbar-thumb{background-color:#b5b5b5;border-radius:0}
 */
/* =Custom Placeholder */
::-webkit-input-placeholder {
  color: #bbb;
  font-size: 1.5rem;
}

/* =Set Class */
.blind {
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  color: transparent;
} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.7;
} /* 딤드레이어 */
.eps {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} /* 한줄 말줄임*/
.eps2,
.eps3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.eps2 {
  -webkit-line-clamp: 2;
}
.eps3 {
  -webkit-line-clamp: 3;
}
.show {
  display: block;
} /* 노출 */
.hide {
  display: none;
} /* 숨김 */
.fl {
  float: left;
} /* 좌측 플로팅 */
.fr {
  float: right !important;
} /* 우측 플로팅 */
.block {
  display: block !important;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
} /* 플로팅 해제 */
/*.tbl{table-layout:fixed;display:table;width:100%}*/ /* 테이블 */
.tbl .row {
  display: table-row;
} /* 테이블 행 */
.cell {
  display: table-cell;
  width: 100%;
  vertical-align: top;
} /* 테이블 셀*/
.txl {
  text-align: left !important;
  justify-content: flex-start;
}
.txc {
  text-align: center !important;
  justify-content: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.txr {
  text-align: right !important;
  justify-content: flex-end;
}
.vm {
  vertical-align: middle !important;
}
.border0 {
  border: 0 !important;
}
.spacing-1 {
  letter-spacing: -0.1rem;
}
.of_visi {
  overflow: visible !important;
}
.of_hide {
  overflow: hidden !important;
}

.m0 {
  margin: 0 !important;
}
.mt_5 {
  margin-top: -0.5rem !important;
}
.mt_10 {
  margin-top: -1rem !important;
} /* vip_0002~5, pkg-0006  비주얼 상단 여백 조정 */
.mt_20 {
  margin-top: -2rem !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 0.5rem !important;
}
.mt10 {
  margin-top: 1rem !important;
}
.mtm10 {
  margin-top: -1rem !important;
}
.mt12 {
  margin-top: 1.2rem !important;
}
.mt15 {
  margin-top: 1.5rem !important;
}
.mt16 {
  margin-top: 1.6rem !important;
}
.mt20 {
  margin-top: 2rem !important;
}
.mt25 {
  margin-top: 2.5rem !important;
}
.mt28 {
  margin-top: 2.8rem !important;
}
.mt30 {
  margin-top: 3rem !important;
}
.mt35 {
  margin-top: 3.5rem !important;
}
.mt40 {
  margin-top: 4rem !important;
}
.mt50 {
  margin-top: 5rem !important;
}
.mt80 {
  margin-top: 8rem !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 0.5rem !important;
}
.mb10 {
  margin-bottom: 1rem !important;
}
.mb15 {
  margin-bottom: 1.5rem !important;
}
.mb20 {
  margin-bottom: 2rem !important;
}
.mb25 {
  margin-bottom: 2.5rem !important;
}
.mb30 {
  margin-bottom: 3rem !important;
}
.mb40 {
  margin-bottom: 4rem !important;
}
.mb50 {
  margin-bottom: 5rem !important;
}
.mb60 {
  margin-bottom: 6rem !important;
}
.mb70 {
  margin-bottom: 7rem !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml10 {
  margin-left: 1rem !important;
}
.ml20 {
  margin-left: 2rem !important;
}
.ml30 {
  margin-left: 3rem !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr10 {
  margin-right: 1rem !important;
}
.mr20 {
  margin-right: 2rem !important;
}
.mr30 {
  margin-right: 3rem !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt5 {
  padding-top: 0.5rem !important;
}
.pt10 {
  padding-top: 1rem !important;
}
.pt15 {
  padding-top: 1.5rem !important;
}
.pt40 {
  padding-top: 4rem !important;
}
.pl20 {
  padding-left: 2rem !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pb15 {
  padding-bottom: 1.5rem !important;
}
.pb20 {
  padding-bottom: 2rem !important;
}
.pb60 {
  padding-bottom: 6rem !important;
}

/* =font color */
em {
  color: #5e2bb8;
}
.pk {
  color: #5e2bb8 !important;
}
.br {
  color: #937c72 !important;
}
.bl {
  color: #5e9acd !important;
}
.bl2 {
  color: #1d508c !important;
}
.bk {
  color: #111 !important;
}
.gray {
  color: #666 !important;
}
.bronze {
  color: #e16f06 !important;
}
.silver {
  color: #9094a7 !important;
}
.gold {
  color: #f5a623 !important;
}
.vip {
  color: #eb2039 !important;
}
.red {
  color: #ea4e50 !important;
}
.green {
  color: #1aac5b !important;
}
.purple {
  color: #5E2BB8 !important;
}
.font12 {
  font-size: 1.2rem !important;
}
.font15 {
  font-size: 1.5rem !important;
}
.font19 {
  font-size: 1.9rem !important;
}

/*width*/
.w100pr {
  width: 100% !important;
}
.h36 {
  height: 3.6rem !important;
}

/* border */
.bb1 {
  border-bottom: 1px solid #ddd;
}
.bt1 {
  border-top: 1px solid #ddd;
}
