@font-face {
  font-family: 'NG';
  font-style: normal;
  font-weight: 400;
  src:
    url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2') format('woff2'),
    url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NG';
  font-style: normal;
  font-weight: 700;
  src:
    url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2') format('woff2'),
    url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: 'NG', sans-serif;
  line-height: 1;
  word-break: break-all;
}

body {
  min-height: 100vh;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
fieldset,
iframe {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

input[type='text'],
input[type='password'],
input[type='file'],
textarea {
  border: 1px solid #d1d1d1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

hr {
  display: none;
}

.overhidden {
  overflow: hidden;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.show {
  display: block;
}
.hide,
.texthidden {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: -9999px;
}
.clearboth {
  display: block;
  content: '';
  clear: both;
}
