.overhidden {
  overflow: hidden;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.show {
  display: block;
}
.hide,
.texthidden {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: -9999px;
}
.clearboth {
  display: block;
  content: '';
  clear: both;
}

/* 로더 */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/img/ajax-loader.gif) no-repeat center center;
}
