.case_view {background: none;}
.rn_case_view.mo {padding-bottom: min(12vw,90px);}
.ptColor {color: #149747 !important;}

/* rn_case_visual */
.rn_case_visual {display: block !important;background-image: url('./dgresources/front/renewal/hansol/images/mo/visual.jpg');}
.rn_case_visual .txt_box {padding-top: min(70.66vw,530px);}
.mo .rn_case_visual h2.tit {font-size: min(11.4vw,86px);margin-bottom: min(6.66vw,50px);}

/* rn_case_summary */
.rn_case_summary .con_wrap .go_btn {background: url("./dgresources/front/renewal/hansol/images/mo/arrow.png") no-repeat right 65%;background-size: min(10.8vw,81px);}
.rn_case_summary .con_wrap {padding-right: 0 !important;}
.rn_case_summary .con_wrap .text .txt {color: #222 !important;}

/* service */
.rn_case_svc .diagram {position: relative;width: 100%;height: min(46.4vw,348px);}
.rn_case_svc .diagram .item {position: absolute;top: 0;display: flex;justify-content: center;align-items: center;width: min(46.4vw,348px);height: min(46.4vw,348px);padding-top: 5%;border-radius: 50%;font-weight: 500;font-size: min(4.533vw,34px);}
.rn_case_svc .diagram .item:nth-child(1) {left: 0;background: linear-gradient(90deg, #1ea65c 0%, #1973b3 100%);color: #fff;z-index: 1;}
.rn_case_svc .diagram .item:nth-child(2) {right: 0;background: #252525;color: #50cf92;}
.rn_case_svc .diagram .item:nth-child(2) * {color: #fff;line-height: 1.0;}
.rn_case_svc .diagram .item:nth-child(2) > div > em {font-size: 0.75em;}
.rn_case_svc .diagram .item span {position: absolute;top: 35%;left: 50%;transform: translateX(-50%);width: min(4.533vw,34px);height: min(4.533vw,34px);border-radius: 50%;background: #fff;}
.rn_case_svc .diagram .item span i {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url("./dgresources/front/renewal/hansol/images/chk_ico.png") no-repeat center center;background-size: min(3vw,24px) auto;}
.rn_case_svc .text {margin-top: min(3.5vw,70px);}
.rn_case_svc .text .txt_box {margin-bottom: min(10.66vw,80px);}
.rn_case_svc .text .txt_box:last-child {margin-bottom: 0;}
.rn_case_svc .text .txt_box .tit {display: flex;align-items: center;justify-content: center;padding: 0 min(0.93vw,7px);margin-bottom: min(4vw,30px);width: min(20vw,150px);height: min(8vw,60px);line-height: min(8vw,60px);font-weight: 500;font-size: min(3.733vw,28px);color: #ffffff;background: #333;border-radius: min(6.66vw,50px);}
.rn_case_svc .text .txt_box .tit i {display: block;width: min(2vw,15px);height: min(2vw,15px);margin-right: min(2vw,15px);background: #1d9b6f;border-radius: 50%;}
.rn_case_svc .text .txt_box .desc {font-weight: 400;font-size: min(3.733vw,28px);line-height: 1.7;text-align: left;word-break: break-all;letter-spacing: -.02em;}

/* 단락 text */
.rn_case_view .con .con_tit {margin-bottom: min(6.6vw,50px);}
.rn_case_view .con .con_tit > span {display: inline-block;height: min(10.66vw,80px);line-height: min(10.66vw,80px);padding: 0 min(4.5vw,35px);font-size: min(4vw,30px);font-weight: 400;border-radius: min(6.66vw,50px);clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);color: #fff;background: linear-gradient(90deg, #1ea65c 0%, #1973b3 100%);}
.rn_case_view .con .con_tit > span:not(:last-child) {margin-right: min(1.2vw,9px);}
.rn_case_view .con .tit {font-weight: 700;font-size: min(10.66vw,80px);line-height: 1.2;margin-bottom: min(6vw,45px);}
.rn_case_view .con .desc {font-weight: 400;font-size: min(4.266vw,32px);line-height: 1.7;}

/* con01 */
.rn_case_view .con01 {padding-top: min(24vw,180px);padding-bottom: min(25.33vw,190px);}
.rn_case_view .con01 .text_box {margin-bottom: min(12vw,90px);}
.rn_case_view .con01 .text_box .tit {}
.rn_case_view .con01 .text_box .desc {margin-bottom: min(5.33vw, 40px);}
.rn_case_view .con01 .text_box .con_tit {margin-bottom: 0;}
.rn_case_view .con01 .text_box .con_tit span {}
.rn_case_view .con01 .imgArea {width: min(89.2vw, 669px);margin: 0 auto;}
.rn_case_view .con01 .imgArea img {}
.rn_case_view .con01 .con01_slide01 {position: relative;width: min(97.6vw,732px);height: min(56.8vw, 426px);margin: min(6vw, 120px) auto 0;background: url("./dgresources/front/renewal/hansol/images/con01_slide01_bg.png") no-repeat center top / min(97.6vw,732px) auto;}
.rn_case_view .con01 .con01_slide01 .slideArea {width: min(76.9vw, 577px);margin: 0 auto;padding: min(2vw, 15px) 0 0;overflow: hidden;}
.rn_case_view .con01 .con01_slide01 .slideArea .swiper-wrapper {}
.rn_case_view .con01 .con01_slide01 .slideArea .swiper-wrapper .swiper-slide {}
.rn_case_view .con01 .con01_slide01 .slideArea .swiper-wrapper .swiper-slide img {}

/* con02 */
.rn_case_view .con02 {position: relative;background: url("./dgresources/front/renewal/hansol/images/mo/con02_bg.png") no-repeat center top / min(100vw,2000px) auto;}
.rn_case_view .con02 .text_box {width: 100%;margin: 0 auto;text-align: center;padding: min(24vw,180px) 0 0;}
.rn_case_view .con02 .text_box .tit {color: #fff;}
.rn_case_view .con02 .text_box .desc {color: #fff;}
.rn_case_view .con02 .text_box .desc.gradi {background: linear-gradient(90deg, #1ea65c 0%, #1973b3 90%);-webkit-background-clip: text;background-clip: text;color: transparent;margin-bottom: min(5.33vw, 40px);}
.rn_case_view .con02 .con02_slide01 {position: relative;width: min(57.33vw, 430px);margin: min(12.66vw, 95px) auto 0;}
.rn_case_view .con02 .con02_slide01 .slideArea {width: min(57.33vw, 430px);overflow: hidden;}
.rn_case_view .con02 .con02_slide01 .slideArea .swiper-wrapper {}
.rn_case_view .con02 .con02_slide01 .slideArea .swiper-wrapper .swiper-slide {}
.rn_case_view .con02 .con02_slide01 .slideArea .swiper-wrapper .swiper-slide img {}
.rn_case_view .con02 .masonry_container {width: min(90vw,670px);margin: min(20vw, 150px) auto 0;columns: 1;}
.rn_case_view .con02 .masonry_item {position: relative;margin-bottom: min(4vw,30px);text-align: center;break-inside: avoid ;top: 0;opacity: 1;transform: scale(1);}
.rn_case_view .con02 .masonry_item > img {width: auto;max-width: 100%;}
.rn_case_view .con02 .imgArea {width: min(89.2vw, 669px);margin: 0 auto min(20vw, 150px);}
.rn_case_view .con02 .imgArea img {}
.rn_case_view .con03 {padding-top: min(24vw,180px);padding-bottom: min(25.33vw,190px);background-color: #f5f5f5;}
.rn_case_view .con03 .text_box {margin-bottom: min(12vw, 90px);}
.rn_case_view .con03 .text_box .tit {}
.rn_case_view .con03 .text_box .desc {margin-bottom: min(5.33vw, 40px);}
.rn_case_view .con03 .text_box .con_tit {margin-bottom: 0;}
.rn_case_view .con03 .text_box .con_tit span {}
.rn_case_view .con03 .con03_slide01 {position: relative;width: min(97.6vw,732px);height: min(56.8vw, 426px);margin: min(6vw, 120px) auto 0;background: url("./dgresources/front/renewal/hansol/images/con03_slide01_bg.png") no-repeat center top / min(97.6vw,732px) auto;}
.rn_case_view .con03 .con03_slide01 .slideArea {width: min(76.9vw, 577px);margin: 0 auto;padding: min(2vw, 15px) 0 0;overflow: hidden;}
.rn_case_view .con03 .con03_slide01 .slideArea .swiper-wrapper {}
.rn_case_view .con03 .con03_slide01 .slideArea .swiper-wrapper .swiper-slide {}
.rn_case_view .con03 .con03_slide01 .slideArea .swiper-wrapper .swiper-slide img {}